<link rel="stylesheet" href="<%- theme.libs.css.gitalk %>">
<link rel="stylesheet" href="/css/my-gitalk.css">

<div class="card gitalk-card" data-aos="fade-up">
    <div id="gitalk-container" class="card-content"></div>
</div>

<script src="<%- theme.libs.js.gitalk %>"></script>
<script>
    let gitalk = new Gitalk({
        clientID: '4a29bb6b905464620616',
        clientSecret: 'ba2a28206821d38763096c9ad4c7a68085c5e5e3',
        repo: 'Gitalk',
        owner: '18613804226',
        admin: ['18613804226'],
        id: '<%- page.path %>',
        distractionFreeMode: false  // Facebook-like distraction free mode
    });

    gitalk.render('gitalk-container');
</script>